


<!DOCTYPE html>
<html>
<head>
  <title>Hackathon Klassroom</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= stylesheet_link_tag "criteria", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div class="row">
		<%= render "partials/navbar" %>

			<table align="center">
			<tr>
				<th>
					Student Name
				</th>
				<th>
					Criteria 1
				</th>
				<th>
					Criteria 2
				</th>
				<th>
					Criteria 3
				</th>
				<th>
					Criteria 4
				</th>
				<th>
					Criteria 5
				</th>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control" placeholder="Student name">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control" placeholder="Student name">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control" placeholder="Student name">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control" placeholder="Student name">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" class="form-control" placeholder="Student name">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
				<td>
					<input type="text" class="form-control" placeholder="Ranking">
				</td>
			</tr>
		</table>
		<br>
		<button type="button" class="btn btn-primary btn-md">Display Sitting Arrangements</button>
	</div>
	</div>

</body>
</html>