<!DOCTYPE html>
<html>
<head>
  <title>Hackathon Klassroom</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= stylesheet_link_tag "welcome", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="overlay"></div>
<%= render 'partials/navbar' %>
    <header class="col-xs-12 col-xl-12">
    	<h1>KLASSROOM</h1>
    	<h2>Something really interesting about this</h2>
    	<br>
    	<button type="button" class="btn btn-primary btn-lg">Sign-up</button>
		<button type="button" class="btn btn-secondary btn-lg">Log-in</button>
    </header>

</body>
</html>
