


<!DOCTYPE html>
<html>
<head>
  <title>Hackathon Klassroom</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= stylesheet_link_tag "seating_charts", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "partials/navbar" %>
	<div class="container">
		<div class="row">

			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<div class="col-md-12 break">
			</div>
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<!-- Table -->
			<div class="col-md-3 first">
				<div class="col-md-12">
					<div class="col-md-6 group">
						<div class="col-md-6 seat aa">"AA"</div>
						<div class="col-md-6 seat bb">BB</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-6 seat cc">"AA"</div>
						<div class="col-md-6 seat dd">BB</div>
					</div>
				</div>
			</div>
			<!-- End Table -->



		</div>
	</div>

</body>
</html>