body {
	background-color: white;
}

table {
	margin-top: 80px;
	background-color: green;
	border: solid 2px gray;
}

table th {
	color: white;
	font-weight: bold;
	text-align: center;
}

button {
	align: right;
}

